@import "bower_components/bootstrap/less/bootstrap";
@import "bower_components/components-font-awesome/less/font-awesome";

html, body, body>div.ember-view {height: 100%}
.click-fix {cursor: pointer}

.bordered {
    border: 2px solid black;
    padding:2px;
    margin-right:10px;
    border-radius:6px;
    input {margin-top:6px}
}

.admin-button {
    position:absolute;
    top:0px;
    left:0px;
    cursor: pointer;
}

.title {
    .text-center;
    margin-bottom:25px;
    border:2px solid black;
    border-radius: 5px;
}

i {.fa}

.login-box {
	.well;.well-lg;
	width:250px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-125px;
	margin-top: -91px;
}

.date-pickers {
    margin-bottom: 15px;
    .date-picker {
        width:100px;
        display: inline-block;
    }
}

.device-box {
    margin:3px;
}

.red {color:red;border-color:red}
.green {color:green;border-color:green}

.dropdown-menu {
    padding:15px;
}

body {padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */}

.row-spacer {padding-top:20px}


// SPINNER //

    .center-spinner {
        color:@brand-primary;
        position: fixed;
        height: 15%;    
        width: 25%;
        top: 47%;
        left: 47%;
        padding: 10px;
    }