@import "bower_components/bootstrap/less/bootstrap.less";
@import "font-awesome";

html, body, body>div {height: 100%}

.login-box {
	.well;
	padding:20px;
	width:290px;
	height:180px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-145px;
	margin-top: -90px;
}